/* Menu Styling */

/* TODO: Change it to use align-tems, justify-content, and box-shadow 
TODO: Need to go over positioning vs. flex*/
.body {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; /*TODO: Move this font?? */

    display: flex;
    flex-direction: column;
}

.menu-wrapper {
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    flex:1;

}

.centered-content {

    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.menu-content-wrapper {

    background-color: white;
    /*width: 960px;
    margin-left: auto;
    margin-right: auto;*/
    

    display: flex;
}

.portfolio-name-wrapper {
    background: #4aaaa5;

    flex: 1;

}

.menu-blank-container{
    flex: 2;

}

.menu-items-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;

    display: flex;
}

.menu-item {
    flex: 1;
    text-align: center;

    /* TODO: Remove ugly link styling off menu links */
}

.menu-item + .menu-item  {
    border-left: 1px solid black;
}

/*NOTES: Aspect ratio: get a hero image to resize automatically, then you do height/width to get the % and then use that as your padding-bottom*/
/*NOTES: Look up transform: translate (-50%, -50%)*/

/* Body Content */

.content-wrapper {
    flex: 1;
    background-image: url(../images/topography.png);

}

.content-container {
    background-color: white;
    border: 1px solid #dddddd;
    margin-top: 35px;
    margin-bottom: 35px;
    /*padding: 10px 35px 10px 35px; TODO: Figure out spacing on this page*/ 
}

.content-padding {
    padding: 0px 35px 15px 35px;
}


/* Contact Page */

.field-name{
    color: #777777;
    padding: 5px 0px;
}

.field {
    width: 100%;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}


.submit-button {
    padding: 12px 30px;
    margin-top: 10px;
    background-color: #4aaaa5;
    border: none;
    color: white;

}



/* Footer */ 

.footer-wrapper {
    flex: 1;

    height: 70px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    flex: .75;
    background-color: #4aaaa5;
}

.footer-bottom {
    background-color: grey;
    flex: 4;

    display: flex;
    
}

.footer-content {
    position: relative;
}

.footer-content-text {
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;

}

/* Font Styling */

.menu-header-text {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    text-align: center;
}