/* Menu Styling */

.body {
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; /*TODO: Move this font?? */

    display: flex;
    flex-direction: column;
}

.menu-wrapper {
    padding: 0px;
    margin: 0px;
    background-color: white;
    flex:1;

}

.centered-content {

    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.menu-content-wrapper {

    background-color: white;
    /*width: 960px;
    margin-left: auto;
    margin-right: auto;*/
    

    display: flex;
}

.portfolio-name-wrapper {
    background: #4aaaa5;

    flex: 1;

}

.menu-blank-container{
    flex: 2;

}

.menu-items-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;

    display: flex;
}

.menu-item {
    flex: 1;
}

.content-wrapper {
    background-color: grey;
}


/* Body Content */

.content-wrapper {
    flex: 1;

    background-image: url(../images/topography.png);

}


/* Footer */ 

.footer-wrapper {
    flex: 1;
}

/* Font Styling */

.menu-header-text {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    text-align: center;
}